# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.whl
.eggs/

# Virtual environments
.venv/
venv/
env/

# PyInstaller build outputs
build/
dist/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs / temp
*.log
*.tmp
